*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: sans-serif;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    height: 100vh;
    

}

img{
    height: 400px;
}

main{
    color: white;
    display: flex;
    width: 680px;
    height: auto;

label{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    
}

p{
    font-weight:700;
    font-size: 50px;
    height: 30px;
}
h2{
    font-weight: 400;
    font-size: 25px;
    margin-top: 40px;
}

div{
    width: 100%;
    height: auto;
}

#inputleft{
    margin-right: 62px;
}

input{
    margin: 10px 0 50px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 300px;
    height: 60px;
    border-radius: 14px;
    border: 1px solid transparent;
    outline: none;
    padding-left: 20px;
    color: black;
    display: inline;
    font-size: 25px;
    font-weight: 500;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background: linear-gradient(90deg, #22c55e, #16a34a);
    color: white;
    font-size: 25px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

    box-shadow: 0 0 10px rgba(34, 197, 94, 0.4);
}


button:hover{
    opacity: .8;
    transform: scale(1.05);
    box-shadow: 0 0 18px rgba(34, 197, 94, 0.6);
}

button:active{
    opacity: .2;
}

